/* <=====================================CSS=====================================> */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ====BASIC CSS ESTRUCTURE==== */

body {
  background-image: url(img-yellowbg.jpg);
  background-size: 300px;
  width: 1300px;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
  overflow: auto;
}

header img {
  margin-left: 220px;
  padding: 20px;
  width: 850px;
}

header h1 {
  color: rgb(204, 209, 212);
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
}

footer {
  background-color: rgb(24, 35, 41);
  color: white;
  padding: 5px;
  font-size: 10px;
}

footer img {
  width: 25px;
  margin-top: 20px;
}

/* ====NAV==== */

nav ul {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  background-color: rgb(24, 35, 41);
  text-align: center;
  padding: 6px;
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  font-family: axiforma;
  align-items: center;

}

nav li {
  flex-direction: row;
  flex: 1;

}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;

}

nav li a:hover {
  background-color: #111;
}

/* ====ESTRUCTURE BODY (Home)==== */

main {
  background-color: white;
  margin-bottom: 15px;
  border: solid 2px rgb(24, 35, 41);
  flex-wrap: wrap;
}

article {
  flex: 1 60%;
  padding: 30px;
  border: solid 1px rgb(24, 35, 41);
  background-image: url(yellow-diamonds.svg);
}

section {
  flex: 1 100%;
}

/* ====SIDEBAR (Home)==== */

#sidebar {
  background-color: rgb(74, 105, 122);
  border: solid 1px rgb(24, 35, 41);
  flex: 1 5%;
  text-decoration: none;
}

aside h2 {
  border: solid 1px rgb(24, 35, 41);
  margin: 0;
  padding-top: 2px;
  padding-left: 2px;
}

aside ul {
  border: solid 1px rgb(24, 35, 41);
  margin: 0;
  padding-top: 5px;

}

aside li {
  list-style: none;
  font-size: 15px;
}

aside img {
  width: 120px;
  margin-top: 10px;
  margin-left: 10px;
}

/* ====LIST DOCTOR WHO (ListDoctors)==== */

#doctors article img {
  width: 200px;
  border: solid 2px rgb(24, 35, 41);
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

#doctors h2 {
  display: block;
}

#doctors article {
  padding: 30px;
  padding-bottom: 75px;
}

/*====TABLE (Season Summary)====*/
.summary tr:nth-child(odd) {
  background-color: rgb(199, 196, 196);
}

.summary tr:nth-child(1) {
  background-color: rgb(24, 35, 41);
  color: white;
}

.summary {
  padding: 10px;
  border-collapse: collapse;
  width: 80%;
  text-align: left;
  margin: 20px auto;
}

.summary td, th {
  padding: 20px;
}

.summary tr:hover td {
  background-color: #ffd101;
  color: black;
}

.summary th {
  text-align: center;
}

th.era {
  background-color: rgb(74, 105, 122);
}

div.flex {
  display: flex;
}
/* ====VIDEOS==== */

.videoera {
  padding: 30px;
  background-image: url(yellow-diamonds.svg);
}
.videoera section {
  margin: 10px;
}

/* ====FORM (Contact)==== */

.contact {
  padding: 10px;
  background-image: url(yellow-diamonds.svg);
}

.contact form label, input {
  margin-bottom: 20px;
}

.contact input {
  padding: 10px;
  padding-right: 50px;
}

.contact textarea {
  padding-right: 105px;
  padding-bottom: 40px;
}